.App {
  text-align: center;
  background-color: #FFF;
  height: 100vh;
  background-size: cover;
  width: 100vw;
}

.transaction {
  display: flex;
  flex-direction: column;
  padding: 10px;
  & > h5, & > div, & > button {
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .transaction {
    padding: 5px;
  }
}
