.App {
  text-align: center;
  background-color: #f2f6f8;
  min-height: 100vh;
  padding-bottom: 60px; /* Space for the footer */
}

.MuiPaper-root {
  padding: 20px;
  margin-bottom: 20px;
}

.MuiTypography-h5 {
  margin-bottom: 10px;
}
